@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@font-face{
    font-family: 'Market-Deco';
    src: url(/resources/fonts/MarketDeco.woff);
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: 'Sacramento';
    src: url(/resources/fonts/sacramento.regular.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: 'Open-Sans';
    src: url(/resources/fonts/OpenSans-Light.ttf);
    font-style: normal;
    font-weight: 100;
}

.font-Market-Deco{
    font-family: 'Market-Deco', serif;
}

.font-Sacramento{
    font-family: 'Sacramento', sans-serif;
}

.font-OpenSans{
    font-family: 'Open-Sans', sans-serif;
}

.hero-container
{
    width: auto;
    height: 600px;
    background: url(/resources/images/header-min.png);
    background-size:  100% 600px;
    background-repeat: no-repeat;
}

.about-us
{
    width: auto;
    height: 450px;
    background: url(/resources/images/about-image.jpg);
    background-size:  100% 450px;
    background-repeat: no-repeat;
}

.fragance{
    width: 477px;
    height: 460px;
    background-image: url(/resources/images/fragancias.png);
    background-size: 100% 460px;
    cursor: pointer;
    transition: transform .2s;
}

.fragance:hover{
    transform: scale(1.1);
    z-index: 2;
}

.material{
    width: 477px;
    height: 460px;
    background-image: url(/resources/images/material.png);
    background-size: 100% 460px;
    cursor: pointer;
    transition: transform .2s;
}

.material:hover{
    transform: scale(1.1);
    z-index: 2;
}

.chemists{
    width: 477px;
    height: 460px;
    background-image: url(/resources/images/productos_quimicos.png);
    background-size: 100% 460px;
    cursor: pointer;
    transition: transform .2s;
}

.chemists:hover{
    transform: scale(1.1);
    z-index: 2;
}

.discount-banner{
    width: auto;
    height: 490px;
    background-image: url(/resources/images/discount_banner.jpg);
    background-size: 100% 490px;
}

.prod-card{
    height: 220px;
    width: 370px;
}

.contact-us{
    height: 650px;
}

.transition{
    transition-delay: 0.1s;
    transition-duration: 0.6s;
    transition-timing-function: linear;
}

.map
{
    height: 270px;
    width: 470px;
}

.vertical-text{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.logo{
    transition: transform .2s;
}

.logo:hover{
    transform: scale(1.5);
}

.comingtext{
    transition: transform .2s;
}

.comingtext:hover{
    transform: scale(1.2);
}

.comingmenu{
    border-width: 1px;
    border: transparent;
    border-style: solid;
    
}

.comingmenu:hover{
    transform: scale(1.1);
    transition-delay: .1s;
    border-width: 2px;
    border-color: #088DA5;
    border-style: solid;
}

.cominginput{
    transition: transform .2s;
}

.cominginput:active{
    transform: scale(1.1);
}

.cominginput:focus{
    transform: scale(1.1);
}

.comingcards{
    transition: transform .3s;
}

.comingcards:hover{
    transform: scale(1.1);
}